@model PayLook.Models.PasswordResetModel

@{
    ViewBag.Title = "Password sent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



    <div>
        <fieldset>
            <legend>Восстановление пароля</legend>
            
            <p>
                Получилось! Теперь можно <a href="logon">войти</a> по новому паролю
            </p>
        </fieldset>
    </div>

