body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 963px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:7px;
    top:183px;
    width:223px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_container {
    position:absolute;
    left:7px;
    top:17px;
    width:201px;
    height:91px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:91px;
}

.u2 {
    position:absolute;
    left:2px;
    top:38px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:882px;
    top:37px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:811px;
    top:37px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:11px;
    top:124px;
    width:329px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../Akziy1_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:953px;
    height:3px;
}

.u8 {
    position:absolute;
    left:0px;
    top:146px;
    width:953px;
    height:10px;
    
}

.u9_container {
    position:absolute;
    left:0px;
    top:212px;
    width:963px;
    height:887px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:963px;
    height:887px;
}

.u10 {
    position:absolute;
    left:2px;
    top:436px;
    width:959px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../Akziy1_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:23px;
}

.u11 {
    position:absolute;
    left:862px;
    top:35px;
    width:10px;
    height:23px;
    
}

