* html .u8_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Akziy1_files/u8_line.png");
}

* html .u11_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Akziy1_files/u11_line.png");
}

