* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

header, nav, section, article, aside, footer {
    display: block;
}

body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    min-width: 856px;
    background: #FFF;
}


/* Global
-----------------------------------------------------------------------------*/

a {
    color: #01737C;
}

    a:visited {
        color: #663366;
    }

    a:hover {
        color: #733F41;
    }

img {
    border: none;
}

input {
    vertical-align: middle;
}

.hide {
    display: none;
}

#wrapper {
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}





/* Header
-----------------------------------------------------------------------------*/
#header {
    position: relative;
    margin-top: 165px;
}

.header-side-content h4 {
    font-weight: normal;
}





/* Content
-----------------------------------------------------------------------------*/
#content {
    position: relative;
}




/* Footer
-----------------------------------------------------------------------------*/
#footer {
    position: relative;
}




/* Typography
-----------------------------------------------------------------------------*/

.hr-divider {
    display: block;
    position: relative;
    border: 0;
    border-bottom: 1px #BCBCBC solid;
    padding-bottom: 5px;
    margin: 0 auto;
    color: white;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 23px;
}

    .hr-divider i {
        position: absolute;
        display: block;
        left: 50%;
        margin-left: -43px;
        width: 86px;
        height: 11px;
        background: transparent url('i/divider-dots.png') center center no-repeat;
    }

.narrow-content {
    width: 66%;
    margin: 0 auto;
}

p {
    margin: 5px 0 12px 0;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}


h1 {
    font-size: 36px;
    line-height: 36px;
    margin: 36px 0 15px 0;
    /*font-weight: normal;*/
    color: #5a3338;
}

h2 {
    margin: 26px 0 5px 0;
    color: #5a3338;
}

h3 {
    margin: 21px 0 5px 0;
    color: #5a3338;
}

h4 {
    margin: 18px 0 5px 0;
    color: #5a3338;
}

blockquote {
    font-size: 16px;
    font-style: italic;
    margin: 0 0 15px 0;
}

ul {
    margin-bottom: 18px;
}

.contents img {
    margin: 0 0 15px 0;
}

.contents .row {
    margin: 40px 0;
}

.center {
    text-align: center;
}


/* Layout
----------------------------------------------------------------------------------------------------*/

#wrapper {
    /*width: 858px;*/
    width: 870px;
    margin: 0 auto;
    padding: 0 21px;
}

.col-12 {
    margin-left: 31px;
    margin-right: 31px;
    position: relative;
}

.logo {
    position: absolute;
    left: 512px;
    top: -83px;
}

.header-content {
    width: 600px;
}

.presentation {
    margin: 36px 0 36px 0;
}

.border.orange {
    border: solid 1px #f6d8b0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.underlined-title.orange {
    border-bottom: solid 1px #f6d8b0;
    padding-top: 21px;
    padding-bottom: 19px;
    padding-left: 31px;
    margin: 0;
}

.presentation-row {
    position: relative;
}

    .presentation-row .row-number {
        font-size: 40px;
        font-weight: bold;
        color: #5a3338;
        position: absolute;
        top: 0;
    }

    .presentation-row .row-content {
        margin-left: 50px;
        margin-top: 15px;
    }


.integration-example {
    margin-top: 25px;
    width: 500px;
}

.integration-example-thumb {
    float: left;
    margin: -10px 0 0 -10px;
}

.integration-example-content {
    margin-left: 215px;
}

#footer .copyright {
    float: right;
}

#footer .col-12 {
    margin-top: 15px;
    padding-bottom: 50px;
}



.email-request-background {
    background-color: #5a3338;
    padding: 5px 7px 5px 10px;
    margin-left: -9px;
    float: left;
    height: 49px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .email-request-background input {
        float: left;
        padding: 7px;
        margin-top: 6px;
        margin-right: 5px;
        vertical-align: middle;
        font-size: 16px;
        height: 37px;
        width: 250px;
        vertical-align: baseline;
    }

.gold-button.send-request-by-mail {
    float: left;
    color: #53382d;
    background: transparent url("i/send-request-button-bg.png") center center;
    width: 184px;
    font-size: 19px;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
}

    .gold-button.send-request-by-mail span {
        padding-left: 17px;
        -webkit-text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
        text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
    }


.alert {
    float: left;
    padding: 5px 32px 5px 9px;
    margin: 5px 0 12px -9px;
    position: relative;
}

    .alert.standard {
        border: solid 1px #53382d;
        color: #5a3338;
    }

    .alert.error {
        border: solid 1px red;
        color: #5a3338;
    }

    .alert p {
        margin: 5px 0;
    }

.alert-close {
    position: absolute;
    top: 6px;
    right: 7px;
    font-family: Arial, sans-serif;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    color: #5a3338;
}


/* To ensure size of inputs will be the same on all browsers
----------------------------------------------------------------------------------------------------*/



input, select {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}


/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}



#paymentSystems {
    float: right;
    width: 400px;
    text-align: left;
    margin-top:20px;
}

    #paymentSystems img {
        height: 30px;
        margin:0 5px 0 5px;
    }
