 <!-- BEGIN .footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer__info">
                <p>Продажи – <a href="mailto:sale@paylook.ru">sale@paylook.ru</a></p>
                <p>Техподдержка – <a href="mailto:support@paylook.ru">support@paylook.ru</a></p>
             
            </div>
            <div class="copyright">@DateTime.UtcNow.Year.ToString(), © Paylook</div>
        </div>
    </footer>
    <!-- END .footer -->